@using SweetShop.Resources
@model Entity.Category

@{
    ViewBag.Title = "Details";
}

<h2 class="yazi" style="padding:20px;">@Lang.Details</h2>

<div>
    <h4 class="yazi">@Lang.Category</h4>
    <hr />
    <dl class="dl-horizontal yazi">
        <dt>
            @Lang.CategoryName
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CategoryName)
        </dd>

        <dt>
            @Lang.Image
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CategoryImageURL)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink(Lang.Edit, "Edit",  new { id = Model.ID }, new { @class = "btn btn-warning yazi" }) |
    @Html.ActionLink(Lang.Back, "Index",null,new { @class="yazi"})
</p>
