@using SweetShop.Resources
@model Entity.Product

@{
    ViewBag.Title = "Details";
}

<h2 class="yazi" style="padding-top:20px;">@Lang.Details</h2>

<div>
    <h4 class="yazi">@Lang.Product</h4>
    <hr />
    <dl class="dl-horizontal yazi">
        <dt>
            @Lang.ProductName
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ProductName)
        </dd>

        <dt>
            @Lang.Price
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ProductPrice)
        </dd>

        <dt>
           @Lang.Description
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ProductDescription)
        </dd>

        <dt>
           @Lang.Calori
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Calori)
        </dd>

        <dt>
            @Lang.Image
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ProductImageUrl)
        </dd>

        <dt>
            @Lang.Piece
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Piece)
        </dd>

        <dt>
            @Lang.CategoryName
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CategoryID)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink(Lang.Edit, "Edit",  new { id = Model.ID },new { @class= "yazi" }) |
    @Html.ActionLink(Lang.Back, "Index",null,new { @class = "yazi" })
</p>
