@using SweetShop.Resources
@model IEnumerable<Entity.Product>

@{
    ViewBag.Title = "Index";
}

<h2 class="yazi" style="padding-top:25px;">@Lang.Product</h2>

<p>
    @Html.ActionLink(Lang.CreateProduct, "Create",null,new { @class = "btn btn-default yazi"})
</p>
<table class="table table-bordered table-hover table-striped yazi">
    <thead>
        <tr>
            <th>@Lang.ProductName</th>
            <th>@Lang.Price</th>
            <th>@Lang.Description</th>
            <th>@Lang.Calori</th>
            <th>@Lang.Image</th>
            <th>@Lang.Piece</th>
            <th>@Lang.CategoryName</th>
            <th>@Lang.Operation</th>
        </tr>
    </thead>
    <tbody>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.ProductName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ProductPrice)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ProductDescription)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Calori)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ProductImageUrl)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Piece)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CategoryID)
                </td>
                <td>
                    @Html.ActionLink(Lang.Edit, "Edit",  new { id = item.ID}, new { @class = "btn btn-success" }) |
                    @Html.ActionLink(Lang.Details, "Details",  new { id = item.ID}, new { @class = "btn btn-warning" }) |
                    @Html.ActionLink(Lang.Delete, "Delete",  new { id = item.ID},new { @class = "btn btn-danger" })
                </td>
            </tr>
        }
    </tbody>
</table>
